html, body {  
  width: 100%;
  height: 100%;
  background-color: #438496;
  font-family: Helvetica, Arial, sans-serif;
}
#break{
  padding: 7vw;
  pointer-events: none !important;
}

.panel{
  background: #fff;
  opacity: .85;
}

h1{
  margin:0;
  font: normal 350% Arial, Helvetica, sans-serif !important;
  text-align: center;
  width: 100%;
  color: #fff;
  margin-left: 0;
  font-weight: 700;
  margin-bottom: 0;
}

#def{
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  margin-top: -6px;
  color: #f7ebd8;
  /*font-size: 270%;*/
}


#line{
  width: 35%;
  margin-top: 0;
}

::-webkit-scrollbar  {
  display: none;
}


#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background-color 1s ease;
}
#colors {
  border-bottom: 1px solid white; 
  position: fixed;
  bottom:0;
  left: 0; 
  height:
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

#colors li {
  width: 10px;
  height: 10px;
  margin-right: 1px;
  border: 1px solid lightgrey;
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
}

#colors li:hover {
  z-index: 222; 
  height: 30px;
}

.title-container{
  color:white;
}

#name{
  padding: 15px;
  font-size: 18px;
  position: absolute;
  font: Arial, Helvetica, sans-serif;
  color: #000;
}
@media (min-width: 768px){#name{
  color: #fff;
}} 


#link{
  background-color:transparent !important;
} 
#link {
  background-color: transparent !important;
  border-color: #ccc !important;
}

#link{
  background-color: Transparent !important;
  background-repeat:no-repeat !important;
  border: none !important;
  cursor:pointer !important;
  overflow: hidden !important;
  outline:none !important;
  color: #000 !important;
  background-color: transparent !important;
}
table {
//    border-collapse: collapse;
    color: #fff;
}
//tr:hover {
 // background-color: #8eb5c0 !important;
//}
th{
  text-align: center !important;
  height: 40px;
}

